JMSoftRenderer/x64/
JMSoftRenderer/.vs/
JMSoftRenderer/JMSoftRenderer/x64/
SoftRenderer/x64/
SoftRenderer/.vs/
SoftRenderer/SoftRenderer/x64/Debug/FrameBuffer.obj
SoftRenderer/SoftRenderer/x64/Debug/Main.obj
SoftRenderer/SoftRenderer/x64/Debug/Pipeline.obj
SoftRenderer/SoftRenderer/x64/Debug/ShaderPrefab.obj
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.Build.CppClean.log
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.log
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.vcxproj.FileListAbsolute.txt
SoftRenderer/SoftRenderer/x64/Debug/vc142.idb
SoftRenderer/SoftRenderer/x64/Debug/vc142.pdb
SoftRenderer/SoftRenderer/x64/Debug/vcpkg.applocal.log
SoftRenderer/SoftRenderer/x64/Debug/Window.obj
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.tlog/CL.command.1.tlog
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.tlog/CL.read.1.tlog
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.tlog/CL.write.1.tlog
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.tlog/link.command.1.tlog
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.tlog/link.read.1.tlog
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.tlog/link.write.1.tlog
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.tlog/SoftRenderer.lastbuildstate
SoftRenderer/SoftRenderer/x64/Debug/SoftRenderer.tlog/SoftRenderer.write.1u.tlog
SoftRenderer_Monofile/x64/
SoftRenderer_Monofile/.vs/
